
*.[oa]
*.~
*.config
*.creator
*.files
*.includes
*.d
*.lnp
*.map 
*.sct
*.dep
*.lst
*.htm
*.html
*.rar
*.css
*.crf
*.axf
*.ini
*.txt
*.lenovo
*.blackmiaool
*.Administrator
*.__i
*.tra
*.map
*.hex
*.plg

