build: off
environment:

  matrix:
    - PLATFORMIO_PROJECT_DIR: "project/espidf-blink"
    - PLATFORMIO_PROJECT_DIR: "project/arduino-blink"
install:
  - cmd: git submodule update --init --recursive
  - cmd: SET PATH=C:\Python36\Scripts;%PATH%
  - cmd: pip3 install -U https://github.com/OS-Q/S03/archive/master.zip
  - cmd: platformio platform install https://github.com/OS-Q/P03.git

test_script:
  - cmd: platformio run -s -d %PLATFORMIO_PROJECT_DIR%
